<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MrRobot</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>com.jp.servlet.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/list.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteOneServlet</servlet-name>
    <servlet-class>com.jp.servlet.DeleteOneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOneServlet</servlet-name>
    <url-pattern>/DeleteOne.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteBatchServlet</servlet-name>
    <servlet-class>com.jp.servlet.DeleteBatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBatchServlet</servlet-name>
    <url-pattern>/DeleteBatch.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitTalkServlet</servlet-name>
    <servlet-class>com.jp.servlet.InitTalkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitTalkServlet</servlet-name>
    <url-pattern>/talk.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AutoReplyServlet</servlet-name>
    <servlet-class>com.jp.servlet.AutoReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoReplyServlet</servlet-name>
    <url-pattern>/AutoReply.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FixCommandServlet</servlet-name>
    <servlet-class>com.jp.servlet.FixCommandServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FixCommandServlet</servlet-name>
    <url-pattern>/FixCommand.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCommandServlet</servlet-name>
    <servlet-class>com.jp.servlet.AddCommandServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommandServlet</servlet-name>
    <url-pattern>/addCommand.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.jp.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginOutServlet</servlet-name>
    <servlet-class>com.jp.servlet.LoginOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOutServlet</servlet-name>
    <url-pattern>/loginOut.action</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.jp.filter.LoginFilter</filter-class>
    <init-param>
      <param-name>FilterPaths</param-name>
      <param-value>back;list.action;addCommand.action;FixCommand.action</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/list.action</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/addCommand.action</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/FixCommand.action</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/jsp/error/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/jsp/error/error.jsp</location>
  </error-page>
</web-app>